@charset "UTF-8";


table {
    width: 600px;
    
    border-collapse: collapse;

}

td {
    padding: 2px;
    
    border: 1px solid #ddd;
}


th {
    
    padding: 5px;
    
    border: 1px solid #ddd;
    
    background-color: #266351;
    color: #fafafa;
}

th div {
    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

.arrowDropDown {
    width: 20px;
}