@charset "UTF-8";


table {
    width: 600px;
    
    border-collapse: collapse;

}

td {
    padding: 2px;
    
    border: 1px solid #ddd;
}

th {
    padding: 2px;
    
    border: 1px solid #ddd;
    
    background-color: #266351;
    color: #fafafa;
}